In [ ]:
Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [21]:
def category(cl):
    if cl<=2:
        return 'низкий рейтинг'
    elif cl<=4:
        return 'средний рейтинг'
    elif cl==4.5 or cl==5:
        return 'высокий рейтинг'

In [22]:
data['class']=data.rating.apply(category)
data

          userId  movieId  rating   timestamp            class
0              1      296     5.0  1147880044  высокий рейтинг
1              1      306     3.5  1147868817  средний рейтинг
2              1      307     5.0  1147868828  высокий рейтинг
3              1      665     5.0  1147878820  высокий рейтинг
4              1      899     3.5  1147868510  средний рейтинг
...          ...      ...     ...         ...              ...
25000090  162541    50872     4.5  1240953372  высокий рейтинг
25000091  162541    55768     2.5  1240951998  средний рейтинг
25000092  162541    56176     2.0  1240950697   низкий рейтинг
25000093  162541    58559     4.0  1240953434  средний рейтинг
25000094  162541    63876     5.0  1240952515  высокий рейтинг

[25000095 rows x 5 columns]

In [ ]:
**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую 
принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона,
то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города,
то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [5]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [2]:
data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [3]:
def region_list(reg):
    for key,val in geo_data.items():
        for city in val:
            if city in reg:
                return key
    else:
        return 'undefined'

In [6]:
data['region']=data.keyword.apply(region_list)

In [7]:
data.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [8]:
data['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [9]:
data['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64